<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dev Skill</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <h1>Dev Skill</h1>
  <% if(error) { %>
    <h2><%= error %></h2>
  <% } else { %>
    <h2>Skill #<%= skill._id %></h2>
    <h3><%= skill.text %></h3>
    <h3> Aquired: <%= skill.done ? 'yes' : 'no' %> </h3>
  <% } %>
  <form 
  action="/skills/<%= skill._id %>?_method=delete" class="delete-form" method="POST">
  <button type="submit">Delete Skill</button>
  </form>
  <a href="/skills">Go Back</a>
</body>
</html>